.estilos {
    display:none;
}
.miga-de-pan{
    color: #b0b0b0;
    font-size: 15px !important;
}
.miga-de-pan a {
    color: #b0b0b0 !important;
}
.elementor-accordion .elementor-accordion-item+.elementor-accordion-item {
    border-top: 2px solid #6896fc !important;
}
.elementor-accordion-item {
    margin-bottom: 12px;
}
.elementor-widget-accordion .elementor-accordion .elementor-tab-title.elementor-active {
    color: #3366c9 !important; 
}
.elementor-widget-accordion .elementor-accordion .elementor-tab-title {
    color: #3366c9 !important;
}
.sp-ea-one.sp-easy-accordion .sp-ea-single .ea-header a {
    padding-left: 30px !important;
    font-family: "Work Sans", Sans-serif;
    font-size: 22px;
    font-weight: bold;
}
.sp-easy-accordion .sp-ea-single .ea-header a .ea-expand-icon.fa {
    font-size: 30px !important;
    font-weight: bold;
}
.sp-easy-accordion .sp-ea-single .ea-header a .ea-expand-icon.fa {
    margin-right: 10px !important;
}
.sp-easy-accordion .sp-ea-single {
    border-radius:0px !important;
}
.elementor-element-a3b8d4c{
    display:none;
}
.elementor-element-e0e8651{
     display:none;
}
.elementor-element-5ec2cee{
     display:none;
}
.elementor-element-8a66903{
     display:none;
}
.elementor-element-b9ae2c7{
     display:none;
}
.elementor-element-5cd6d50{
     display:none;
}
.elementor-element-78b232b{
     display:none;
}
.elementor-element-34c68cf{
     display:none;
}
.elementor-element-572df49{
     display:none;
}
.elementor-element-73f4f01{
     display:none;
}
.elementor-element-94d411d{
     display:none;
}
.elementor-element-c635134{
     display:none;
}
.elementor-element-1a21b49{
     display:none;
}
.elementor-element-c92839c{
     display:none;
}
.menu-tramites .elementor-nav-menu li {
    border-bottom:1px solid #3366cc;
}
.contenedor-chat{
    position: fixed;
    bottom: 20%;
    right: -193px;
    width: 250px;
    z-index: 9;
}
.contenedor-chat img {
      border-radius: 12px 0px 0px 12px !important;
}
section.elementor-element.elementor-element-ae4aa0d.elementor-section-boxed.elementor-section-height-default.elementor-section-height-default.elementor-section.elementor-top-section {
    position: fixed;
    z-index: 9;
}

.elementor-10 .elementor-element.elementor-element-f19b35f .elementor-slide-content {
    max-width: 95% !important;
}
.elementor-slides .slick-slide-inner .elementor-background-overlay {
    top: 342px !important;
}
.elementor .elementor-background-overlay, .elementor .elementor-background-slideshow {
    height: 24% !important;
}
.elementor-slides .slick-slide-inner .elementor-slide-content {
    top: -8px !important;
}
.elementor-slick-slider .slick-dots-inside .slick-dots {
    bottom: 120px !important;
}
.slick-dots li {
    padding-left: 22px !important;
}
.elementor-slick-slider ul.slick-dots li button:before {
	font-size: 14px !important;
}
.elementor-slides .slick-slide-inner .elementor-slide-description {
    font-size: 19px !important;
}
.elementor-12 .elementor-element.elementor-element-ccc150e .elementor-nav-menu--main .elementor-item:hover, .elementor-12 .elementor-element.elementor-element-ccc150e .elementor-nav-menu--main .elementor-item.elementor-item-active, .elementor-12 .elementor-element.elementor-element-ccc150e .elementor-nav-menu--main .elementor-item.highlighted, .elementor-12 .elementor-element.elementor-element-ccc150e .elementor-nav-menu--main .elementor-item:focus {
    background-color: #00c0cd;
}
.elementor-10 .elementor-element.elementor-element-eda1832 .elementor-swiper-button.elementor-swiper-button-prev, .elementor-10 .elementor-element.elementor-element-eda1832 .elementor-swiper-button.elementor-swiper-button-next {
    background-color: #ccc;
    margin-top: -11px;
    padding-bottom: 42px;
    padding-top: 41px;
    margin-right: 0px;
    margin-left: 0px;
}
.elementor-10 .elementor-element.elementor-element-9754512 .elementor-icon-box-title {
    margin-top: 4px;
}
.elementor-sub-item.elementor-item-active {
    background-color: transparent !important;
}
.elementor-sub-item.highlighted, .elementor-sub-item:focus, .elementor-sub-item:hover {
    background-color: transparent !important;
}
.cont-fechas{
    width: 30%;
    position: relative;
    float: left;
    margin-left: -10px;
}
.facetwp-facet input[type=text] {
	margin-bottom: 10px;
}
.facetwp-facet.facetwp-facet-fechas_publicaciones.facetwp-type-date_range {
    width: 70%;
    display: inline-block;
    margin-bottom: 0px;
    margin-top: -20px;
}
.cont-desde {
    margin-top: 16px;
}
.facetwp-facet.facetwp-facet-palabras_clave.facetwp-type-search {
    margin-bottom: 0px;
}
.facetwp-btn {
	display: none;	
}
input.facetwp-search {
	margin-bottom: 10px;
    padding-bottom: 150px !important;
}
.facetwp-pager{
    margin: 0;
    position: absolute;
    left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: "Work Sans", Sans-serif !important;
  
}
.facetwp-page{
    height: 24px;
    width: 24px;
    text-align: center;
    padding-right: 0px;
    padding-left: 0px;
    background: #ececec;
    margin-right: 5px !important;
    margin-left: 5px !important;
}
.active{
    background: #6ec1e4;
    color: white !important;
    text-align: center;
}
.izqq{
    background: #d1dbec;
}
.derr{
    background: #d1dbec;
}
.boton-filtro {
    cursor: pointer;
}
.noticias_minambiente.type-noticias_minambiente.status-publish.has-post-thumbnail.hentry.category-noticias {
    max-width: 1200px;
}
.galerias.type-galerias.status-publish.has-post-thumbnail.hentry {
    max-width: 1200px;
}
.videos.type-videos.status-publish.hentry.category-videos {
    max-width: 1100px;
}
.contenedor-podcast {
    padding-bottom: 35px;
    background-color: #F1F3F4;
    padding-top: 35px;
}
.elementor-2822 .elementor-element.elementor-element-d306bbc.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:flex-start;}.elementor-2822 .elementor-element.elementor-element-9d7fadb{text-align: center;}.elementor-2822 .elementor-element.elementor-element-9d7fadb .elementor-image img{max-width:93.9%;}.elementor-2822 .elementor-element.elementor-element-fa58f5e > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:20px;}.elementor-2822 .elementor-element.elementor-element-fa58f5e:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-2822 .elementor-element.elementor-element-fa58f5e > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#00c0cd;}.elementor-2822 .elementor-element.elementor-element-fa58f5e > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin:-10px -1px 0px 10px;padding:5px 5px 5px 5px;}.elementor-2822 .elementor-element.elementor-element-fa58f5e > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-2822 .elementor-element.elementor-element-cee9141 .elementor-spacer-inner{height:88px;}.elementor-bc-flex-widget .elementor-2822 .elementor-element.elementor-element-597c242.elementor-column .elementor-column-wrap{align-items:center;}.elementor-2822 .elementor-element.elementor-element-597c242.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-2822 .elementor-element.elementor-element-597c242.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:center;}.elementor-2822 .elementor-element.elementor-element-597c242:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-2822 .elementor-element.elementor-element-597c242 > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#3366cc;}.elementor-2822 .elementor-element.elementor-element-597c242 > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin:-10px -15px 0px 0px;padding:5px 23px 5px 5px;}.elementor-2822 .elementor-element.elementor-element-597c242 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-2822 .elementor-element.elementor-element-a31df63 .elementor-text-editor{text-align:center;}.elementor-2822 .elementor-element.elementor-element-a31df63{color:#ffffff;font-family:"Work Sans", Sans-serif;font-size:14px;font-weight:300;}.elementor-2822 .elementor-element.elementor-element-a31df63 > .elementor-widget-container{margin:0px 0px 0px 10px;}.elementor-2822 .elementor-element.elementor-element-9e1db27{margin-top:0px;margin-bottom:0px;}.elementor-2822 .elementor-element.elementor-element-991d273 .elementor-spacer-inner{height:50px;}.elementor-2822 .elementor-element.elementor-element-991d273 > .elementor-widget-container{background-image:url("https://tuwebcompany.com/intranet/wp-content/uploads/2019/11/Ico-Noticias-comentar1.png");background-position:center center;background-repeat:no-repeat;background-size:30% auto;}.elementor-2822 .elementor-element.elementor-element-991d273:hover .elementor-widget-container{background-image:url("https://tuwebcompany.com/intranet/wp-content/uploads/2019/11/Ico-Noticias-comentar2.png");}body:not(.rtl) .elementor-2822 .elementor-element.elementor-element-991d273{left:-363px;}body.rtl .elementor-2822 .elementor-element.elementor-element-991d273{right:-363px;}.elementor-2822 .elementor-element.elementor-element-991d273{top: -490px;}.elementor-2822 .elementor-element.elementor-element-a2e2790 .elementor-spacer-inner{height:50px;}.elementor-2822 .elementor-element.elementor-element-a2e2790 > .elementor-widget-container{background-image:url("https://tuwebcompany.com/intranet/wp-content/uploads/2019/11/Ico-Noticias-guardar1.png");background-position:center center;background-repeat:no-repeat;background-size:30% auto;}.elementor-2822 .elementor-element.elementor-element-a2e2790:hover .elementor-widget-container{background-image:url("https://tuwebcompany.com/intranet/wp-content/uploads/2019/11/Ico-Noticias-guardar2.png");}body:not(.rtl) .elementor-2822 .elementor-element.elementor-element-a2e2790{left:-363px;}body.rtl .elementor-2822 .elementor-element.elementor-element-a2e2790{right:-363px;}.elementor-2822 .elementor-element.elementor-element-a2e2790{top: -430px;}.elementor-2822 .elementor-element.elementor-element-bb1de12 .elementor-spacer-inner{height:50px;}.elementor-2822 .elementor-element.elementor-element-bb1de12 > .elementor-widget-container{background-image:url("https://tuwebcompany.com/intranet/wp-content/uploads/2019/11/Ico-Noticias-reportar1.png");background-position:center center;background-repeat:no-repeat;background-size:30% auto;}.elementor-2822 .elementor-element.elementor-element-bb1de12:hover .elementor-widget-container{background-image:url("https://tuwebcompany.com/intranet/wp-content/uploads/2019/11/Ico-Noticias-reportar2.png");}body:not(.rtl) .elementor-2822 .elementor-element.elementor-element-bb1de12{left:-363px;}body.rtl .elementor-2822 .elementor-element.elementor-element-bb1de12{right:-363px;}.elementor-2822 .elementor-element.elementor-element-bb1de12{top: -486px;}.elementor-2822 .elementor-element.elementor-element-8eef186 .elementor-spacer-inner{height:50px;}.elementor-2822 .elementor-element.elementor-element-8eef186 > .elementor-widget-container{background-image:url("https://tuwebcompany.com/intranet/wp-content/uploads/2019/11/Ico-Noticias-compartir1.png");background-position:center center;background-repeat:no-repeat;background-size:30% auto;}.elementor-2822 .elementor-element.elementor-element-8eef186:hover .elementor-widget-container{background-image:url("https://tuwebcompany.com/intranet/wp-content/uploads/2019/11/Ico-Noticias-compartir2.png");}body:not(.rtl) .elementor-2822 .elementor-element.elementor-element-8eef186{left:-363px;}body.rtl .elementor-2822 .elementor-element.elementor-element-8eef186{right:-363px;}.elementor-2822 .elementor-element.elementor-element-8eef186{top: -550px;}.elementor-2822 .elementor-element.elementor-element-e62ef4b .elementor-spacer-inner{height:50px;}body:not(.rtl) .elementor-2822 .elementor-element.elementor-element-e62ef4b{left:0px;}body.rtl .elementor-2822 .elementor-element.elementor-element-e62ef4b{right:0px;}.elementor-2822 .elementor-element.elementor-element-e62ef4b{top:0px;}.elementor-2822 .elementor-element.elementor-element-b39ca31{color:#3366cc;font-family:"Poppins", Sans-serif;font-weight:600;font-style:italic;}.elementor-2822 .elementor-element.elementor-element-16f1ade{font-family:"Work Sans", Sans-serif;font-size:14px;}.elementor-2822 .elementor-element.elementor-element-f43317b{font-family:"Work Sans", Sans-serif;font-size:14px;}.elementor-2822 .elementor-element.elementor-element-163befc:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-2822 .elementor-element.elementor-element-163befc > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#00c0cd;}.elementor-2822 .elementor-element.elementor-element-163befc > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-2822 .elementor-element.elementor-element-163befc > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-2822 .elementor-element.elementor-element-3f5ec5c .elementor-image img{width:100%;max-width:100%;}.elementor-2822 .elementor-element.elementor-element-3f5ec5c > .elementor-widget-container{margin:-3px -3px -3px -3px;}.elementor-bc-flex-widget .elementor-2822 .elementor-element.elementor-element-1f45746.elementor-column .elementor-column-wrap{align-items:center;}.elementor-2822 .elementor-element.elementor-element-1f45746.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-2822 .elementor-element.elementor-element-1f45746:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-2822 .elementor-element.elementor-element-1f45746 > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#3366cc;}.elementor-2822 .elementor-element.elementor-element-1f45746 > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin:0px 0px 0px 0px;}.elementor-2822 .elementor-element.elementor-element-1f45746 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-2822 .elementor-element.elementor-element-b711472{text-align:left;}.elementor-2822 .elementor-element.elementor-element-b711472 .elementor-heading-title{color:#ffffff;font-family:"Work Sans", Sans-serif;font-size:25px;font-weight:900;}.elementor-2822 .elementor-element.elementor-element-cf0aaee{margin-top:-7px;margin-bottom:0px;}.elementor-2822 .elementor-element.elementor-element-05935c7{font-family:"Work Sans", Sans-serif;}.elementor-2822 .elementor-element.elementor-element-2eddd58{font-size:12px;}.elementor-2822 .elementor-element.elementor-element-2eddd58 > .elementor-widget-container{margin:-32px 0px 0px 0px;}.elementor-2822 .elementor-element.elementor-element-ef33ae5{font-family:"Work Sans", Sans-serif;}.elementor-2822 .elementor-element.elementor-element-c8a52fb{font-size:12px;}.elementor-2822 .elementor-element.elementor-element-c8a52fb > .elementor-widget-container{margin:-32px 0px 0px 0px;}.elementor-2822 .elementor-element.elementor-element-e77b7ef{font-family:"Work Sans", Sans-serif;}.elementor-2822 .elementor-element.elementor-element-0c68689{font-size:12px;}.elementor-2822 .elementor-element.elementor-element-0c68689 > .elementor-widget-container{margin:-32px 0px 0px 0px;}body.elementor-page-2822 h1.entry-title, .elementor-page-title{display:none;}@media(min-width:768px){.elementor-2822 .elementor-element.elementor-element-fa58f5e{width:3.158%;}.elementor-2822 .elementor-element.elementor-element-597c242{width:89.982%;}.elementor-2822 .elementor-element.elementor-element-edb2b10{width:66.754%;}.elementor-2822 .elementor-element.elementor-element-9e92613{width:33.246%;}.elementor-2822 .elementor-element.elementor-element-163befc{width:23.12%;}.elementor-2822 .elementor-element.elementor-element-1f45746{width:95.947%;}.elementor-2822 .elementor-element.elementor-element-b47d674{width:44.29%;}.elementor-2822 .elementor-element.elementor-element-ecc3731{width:55.71%;}.elementor-2822 .elementor-element.elementor-element-ee28175{width:44.29%;}.elementor-2822 .elementor-element.elementor-element-fe8ff45{width:55.71%;}.elementor-2822 .elementor-element.elementor-element-6ecb871{width:44.29%;}.elementor-2822 .elementor-element.elementor-element-a215a3e{width:55.71%;}}/* Start custom CSS for column, class: .elementor-element-fa58f5e */.elementor-2822 .elementor-element.elementor-element-fa58f5e {z-index: 2;}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-597c242 */.elementor-2822 .elementor-element.elementor-element-597c242 {z-index: 1;}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-fa58f5e */.elementor-2822 .elementor-element.elementor-element-fa58f5e {z-index: 2;}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-597c242 */.elementor-2822 .elementor-element.elementor-element-597c242 {z-index: 1;}/* End custom CSS */
.embed-container { 
		position: relative; 
		padding-bottom: 56.25%;
		overflow: hidden;
		max-width: 100%;
		height: auto;
} 

	.embed-container iframe,
.embed-container object,
.embed-container embed { 
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
}
.elementor-2739 .elementor-element.elementor-element-18b9a7c.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:center;}.elementor-2739 .elementor-element.elementor-element-18b9a7c > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-2739 .elementor-element.elementor-element-d91d106 > .elementor-widget-container{margin:-12px -12px -12px -12px;}.elementor-2739 .elementor-element.elementor-element-dfda008 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:20px;}.elementor-2739 .elementor-element.elementor-element-dfda008:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-2739 .elementor-element.elementor-element-dfda008 > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#00c0cd;}.elementor-2739 .elementor-element.elementor-element-dfda008 > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin:5px -3px 5px 10px;padding:5px 11px 5px 5px;}.elementor-2739 .elementor-element.elementor-element-dfda008 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-2739 .elementor-element.elementor-element-699066b .elementor-spacer-inner{height:30px;}.elementor-2739 .elementor-element.elementor-element-699066b > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-bc-flex-widget .elementor-2739 .elementor-element.elementor-element-040e396.elementor-column .elementor-column-wrap{align-items:center;}.elementor-2739 .elementor-element.elementor-element-040e396.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-2739 .elementor-element.elementor-element-040e396 > .elementor-element-populated{margin:0px 0px 0px 9px;}.elementor-2739 .elementor-element.elementor-element-0fef6ac{text-align:left;}.elementor-2739 .elementor-element.elementor-element-0fef6ac .elementor-heading-title{color:#3366cc;font-family:"Arial", Sans-serif;font-size:30px;font-weight:900;text-transform:uppercase;}.elementor-2739 .elementor-element.elementor-element-0fef6ac > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-2739 .elementor-element.elementor-element-ed8278f{padding:0px 0px 0px 0px;}.elementor-2739 .elementor-element.elementor-element-a708c4c .elementor-text-editor{text-align:justify;}.elementor-2739 .elementor-element.elementor-element-a708c4c{font-family:"Work Sans", Sans-serif;font-size:14px;}.elementor-2739 .elementor-element.elementor-element-a708c4c > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-2739 .elementor-element.elementor-element-8c0ef1f{margin-top:9px;margin-bottom:0px;}.elementor-2739 .elementor-element.elementor-element-bc8595b .elementor-tab-title, .elementor-2739 .elementor-element.elementor-element-bc8595b .elementor-tab-title:before, .elementor-2739 .elementor-element.elementor-element-bc8595b .elementor-tab-title:after, .elementor-2739 .elementor-element.elementor-element-bc8595b .elementor-tab-content, .elementor-2739 .elementor-element.elementor-element-bc8595b .elementor-tabs-content-wrapper{border-width:1px;}.elementor-2739 .elementor-element.elementor-element-bc8595b .elementor-tab-title.elementor-active a{color:#3366cc;}.elementor-2739 .elementor-element.elementor-element-bb1195f{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-2739 .elementor-element.elementor-element-bb1195f > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}body.elementor-page-2739 h1.entry-title, .elementor-page-title{display:none;}@media(min-width:768px){.elementor-2739 .elementor-element.elementor-element-dfda008{width:2%;}.elementor-2739 .elementor-element.elementor-element-040e396{width:98%;}}

